@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #c2c5bb;
  --black: #2a2d34;
  --secondary: #157a6e;
  --error: #a63446;
  --secondary2: #77b28c;
}

body {
  font-family: "Noto Serif";
  background: var(--primary);
  color: (--black);
}

/* To center the App container */
.App {
  max-width: 960px;
  margin: 0 auto;
}

.title h1 {
  color: var(--secondary);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5rem;
}

.title h2,
.title p {
  text-align: center;
}

.title h2 {
  font-size: 2.5rem;
  margin-top: 5rem;
}
.title p {
  opacity: 0.8;
}

/* Upload Button */
.upload-div {
  margin: 2rem 0;
  text-align: center;
}

.upload-div label {
  color: var(--secondary);
  transition: 0.5s ease;
}

.upload-div label:hover {
  color: var(--secondary2);
}

/* Progress Bar styles: */
.progress-bar {
  height: 5px;
  border-radius: 10px;
  background: var(--black);
  margin-top: 1.5rem;
}

/* Image grid styles */

.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.4rem;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding control height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Modal styles */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  display: block;
  max-width: 60%;
  min-height: 60%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary);
}
